[phases.setup]
nixPkgs = ['php82', 'php82Packages.composer', 'php82Extensions.gd', 'php82Extensions.zip', 'php82Extensions.sodium', 'nodejs-18_x']

[phases.install]
cmds = [
    'composer install --ignore-platform-reqs --no-dev --no-interaction --prefer-dist --optimize-autoloader || composer update --ignore-platform-reqs --no-dev --no-interaction --prefer-dist --optimize-autoloader',
    'npm ci --legacy-peer-deps',
    'npm run build'
]

[phases.build]
cmds = [
    'php artisan config:cache',
    'php artisan route:cache',
    'php artisan view:cache'
]

[start]
cmd = 'php artisan serve --host=0.0.0.0 --port=$PORT'

